@import '../../../colors';

:host {
  flex: 0 1 calc(50% - 32px);
  height: 100vh;
  width: 100%;
}

.slider {
  background-image: url('../../../assets/img/slider/1.jpg');
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: row;
  height: 100%;
  mix-blend-mode: normal;
  position: relative;
  width: 100%;

  &::before {
    background: $slider-shadow-background;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    width: 100%;
  }

  &__content {
    align-items: flex-start;
    display: flex;
    flex: 0 1 100%;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    padding: 32px;
    z-index: 1;
  }

  &__item {
    min-height: 262px;
    display: none;
  }

  &__title {
    color: $slider-title-color;
    font-size: 40px;
    font-weight: 500;
    line-height: 47px;
    margin: 0 0 8px;
  }

  &__description {
    color: $gray-light-color;
    font-size: 24px;
    font-weight: 300;
    line-height: 22px;
    margin: 0 0 32px;
  }

  &__page {
    align-items: center;
    cursor: pointer;
    display: flex;
    flex: 1 0 64px;
    justify-content: center;
    user-select: none;
    width: 64px;
    z-index: 1;

    &:hover {
      background: rgba($primary-color, 0.2);
    }

    &-icon {
      height: 18px;
      user-select: none;
      width: 8px;
    }
  }

  &__controls {
    bottom: 27px;
    font-size: 0;
    left: calc(50% - 28px);
    position: absolute;
    z-index: 2;
  }

  &__control-label {
    background-color: $gray-light-color;
    border-radius: 50%;
    cursor: pointer;
    display: inline-block;
    height: 8px;
    margin-right: 8px;
    vertical-align: top;
    width: 8px;

    &:last-child {
      margin-right: 0;
    }

    &:hover {
      background-color: $primary-color;
    }
  }
}

/* stylelint-disable selector-max-id */
#product-1:checked ~ .slider {
  background-image: url('../../../assets/img/slider/1.jpg');
  background-position: center;
}

#product-2:checked ~ .slider {
  background-image: url('../../../assets/img/slider/2.png');
  background-position: left;
}

#product-3:checked ~ .slider {
  background-image: url('../../../assets/img/slider/3.png');
  background-position: left;
}

#product-4:checked ~ .slider {
  background-image: url('../../../assets/img/slider/4.png');
  background-position: center;
}

#product-1:checked ~ .slider #slide1,
#product-2:checked ~ .slider #slide2,
#product-3:checked ~ .slider #slide3,
#product-4:checked ~ .slider #slide4 {
  display: block;
}

/* stylelint-disable selector-class-pattern */
#product-1:checked ~ .slider .slider__control-label[for='product-1'],
#product-2:checked ~ .slider .slider__control-label[for='product-2'],
#product-3:checked ~ .slider .slider__control-label[for='product-3'],
#product-4:checked ~ .slider .slider__control-label[for='product-4'] {
  background-color: $primary-color;
}

/* stylelint-enable selector-max-id, selector-class-pattern */

@media screen and (min-width: 1024px) and (max-width: 1440px) {
  :host {
    flex: 0 1 calc(45% - 32px);
    min-width: 410px;
  }

  .slider {
    &__page {
      flex: 1 0 32px;
      width: 32px;
    }

    &__title {
      font-size: 32px;
      line-height: 38px;
    }

    &__description {
      font-size: 22px;
      line-height: 22px;
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  :host {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  :host {
    display: none;
  }
}
