@import '../../../colors';

.header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  width: 100%;

  &__logo {
    color: $primary-color;
    cursor: pointer;
    font-size: 30px;
    font-weight: 700;
    line-height: 35px;
    text-decoration: none;
  }

  &__location {
    align-items: center;
    display: flex;

    &-icon {
      height: 20px;
      margin-right: 8px;
      width: 18px;
    }

    &-name {
      color: $gray-color;
      font-size: 14px;
      font-weight: 400;
      line-height: 16px;
    }
  }
}

@media screen and (max-width: 767px) {
  .header {
    align-items: flex-end;
    flex-direction: column;
    left: 0;
    padding: 16px;
    text-align: right;
    top: 0;

    &__logo {
      margin-bottom: 10px;
    }
  }
}
