<app-header class="container"></app-header>

<app-breadcrumbs></app-breadcrumbs>

<div class="container content">
  <main class="main">
    <div class="main__text" for="city">
      Город
      <svg (click)="clearCityInput()" class="main__input-clear" tabindex="0" width="8" height="8" viewBox="0 0 8 8">
        <use href="assets/img/icons/input-clear.svg#icon" />
      </svg>
      <input
        #cityInput
        (click)="cityClick()"
        class="main__input"
        type="text"
        name="city"
        id="city"
        placeholder="Начните вводить город ..."
        value="" />
      <ul class="main__input-list" (click)="setCityInput($event)" #cityList>
        <li class="main__input-list-item" value="Москва" title="Москва">Москва</li>
        <li class="main__input-list-item" value="Тамбов" title="Тамбов">Тамбов</li>
        <li class="main__input-list-item" value="Тверь" title="Тверь">Тверь</li>
        <li class="main__input-list-item" value="Тула" title="Тула">Тула</li>
        <li class="main__input-list-item" value="Архангелськ" title="Архангелськ">Архангелськ</li>
        <li class="main__input-list-item" title="Владимир">Владимир</li>
        <li class="main__input-list-item" value="Сургут" title="Сургут">Сургут</li>
        <li class="main__input-list-item" value="Владивосток" title="Владивосток">Владивосток</li>
        <li class="main__input-list-item" value="Воронеж" title="Воронеж">Воронеж</li>
      </ul>
    </div>
    <p class="main__text" for="point">
      Пункт выдачи
      <input class="main__input" type="text" name="point" id="point" placeholder="Начните вводить пункт ..." value="" />
    </p>
    <p class="main__text main__text_align_left">Выбрать на карте:</p>
    <img src="assets/map.png" width="736" height="352" />
  </main>

  <aside class="aside">
    <h2 class="aside__title">Ваш заказ:</h2>
    <ul class="aside__list">
      <p class="aside__item">
        <span class="aside__item-title"> Пункт выдачи </span>
        <span class="aside__item-value">
          Ульяновск,<br />
          Нариманова 42
        </span>
      </p>
      <p class="aside__item">
        <span class="aside__item-title"> Модель </span>
        <span class="aside__item-value"> Hyndai, i30 N </span>
      </p>
      <p class="aside__item">
        <span class="aside__item-title"> Цвет </span>
        <span class="aside__item-value"> Голубой </span>
      </p>
      <p class="aside__item">
        <span class="aside__item-title"> Длительность аренды </span>
        <span class="aside__item-value"> 1д 2ч </span>
      </p>
      <p class="aside__item">
        <span class="aside__item-title"> Тариф </span>
        <span class="aside__item-value"> На сутки </span>
      </p>
      <p class="aside__item">
        <span class="aside__item-title"> Полный бак </span>
        <span class="aside__item-value"> Да </span>
      </p>
    </ul>
    <p class="aside__price">
      Цена:
      <span class="aside__price-value"> от 8 000 до 12 000 ₽ </span>
    </p>
    <app-button class="aside__button" [disabled]="true"> Выбрать модель </app-button>
  </aside>
</div>
