<nav class="nav" [ngClass]="{ nav_closed: !menuShow }">
  <div class="nav__container">
    <ul class="nav__menu">
      <li class="nav__item">
        <a class="nav__link" href="#"> ПАРКОВКА </a>
      </li>
      <li class="nav__item">
        <a class="nav__link" href="#"> СТРАХОВКА </a>
      </li>
      <li class="nav__item">
        <a class="nav__link" href="#"> БЕНЗИН </a>
      </li>
      <li class="nav__item">
        <a class="nav__link" href="#"> ОБСЛУЖИВАНИЕ </a>
      </li>
    </ul>
    <ul class="nav__social-menu">
      <li class="nav__social-item">
        <a class="nav__social-link" href="#">
          <span class="visible-hidden">Telegram</span>
          <svg tabindex="0" class="nav__social-icon" width="32" height="32" viewBox="0 0 32 32">
            <use href="assets/img/icons/telegram.svg#icon" fill="white" />
          </svg>
        </a>
      </li>
    </ul>
  </div>
  <div class="nav__shadow"></div>
</nav>
